
.background {
    background-color: #f0f4f5;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: table;
}

#index_container {
    margin-top: -80px;
}

/*
.input-group-addon {
    border-color: #c7d1c5;
    background-color: #e8ebec;
}
.btn-stanford, .btn-stanford:hover {
    background-color: #8c1515;
    border-color: #333;
    color: #ffffff;
}

.panel-body {
    color: #000000;
}

.panel-heading {
    padding-top: 20px;
    font-weight: bold;
    font-size: small;
}

.panel > .panel-heading {
    font-family: 'Fjord One', serif;
    color: #990033;
    font-size: medium;
    font-weight: bold;
    vertical-align: top;
}
*/

.white-a , .white-a.collapsed ,  .white-a:focus , .white-a:hover , .white-a:active,  .white-a:after {
    font-family: 'Fjord One', serif;
    font-size: x-large;
    color: #8c1515;
    font-weight: bold;
}

h5 {
    color: #990033;
    font-weight: bold;
}

h3 {
    color: dimgrey;
    font-weight: bold;
}
/*
div.panel-body.hero {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.hero {
    height: 60px;
    font-family: 'Fjord One', serif;
    margin-top: 0;
    background-color: #f0f4f5;
}
*/

body, html {
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: medium;
    color: #000000;
}

body {
    min-height: 2000px;
    color: #000000;
}

.logo-img {
    padding-top: 10px;
    padding-bottom: 10px;

}

.maroon-accent {
    background-color: #990033;
    width: 100%;
    height: 10px;
    position: relative;
    vertical-align: top;
}

.nav-link {
    color: #990033;
}

.navbar-static-top {
    margin-bottom: 1px;
}

.navbar {
    min-height: 20px !important;
    max-height: 30px !important;
}

.navbar a { font-size: 14px !important }
.navbar span {
    font-size: 14px !important;
}

.modal-title {
    text-align: left;
}

.modal-header {
    background-color: #990033 !important;
    color: #ffffff;
}
.modal-body {
    font-size: medium;
}


#custom-badge {
    background-color: #990033 !important;
/*
    background-color: #808080 !important;
*/
    outline-color: #990033 !important;
    color: white;
}

#research {
    font-size: 14px;
}
#newlink {
    color: #000000;
    font-style: italic;
    font-size: x-small;
}

#edit-style {
    font-size: x-small;
    font-weight: lighter;
    font-style: italic;
    vertical-align: middle;
    color: #000000;
}

#card {
    max-width: 200px !important;
    max-height: 300px !important;
    font-size: smaller;
    display: block;
}

#cback {
    background-color: #990033 !important;
    font-size: 14px !important;
    color: #ffffff;
    border: #990033;
}

#card_button {
    background-color: #808080 !important;
    align: middle;
    color: #FFFFFF;
    border: #000000;
}

/* New Project Wizard */
#ResearchProject {
    background-color: #ffffff;
    margin: 100px auto;
    font-family: Raleway;
    padding: 40px;
    width: 60%;
    min-width: 300px;
}

* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

/* Hide all steps by default: */
.tab {
    display: none;
}

button {
    background-color: #990033;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

#prevBtn {
    background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #990033;
}

textarea {
    width: 100%;
    border: 1px solid #000000;
}

.entered_irb_num_invalid {
    font-style: italic;
    color: red !important;
    font-size: small;
}

/*-------------*/

#alert {
    color: red;
}
